## 2. 변수와 문자열
### 변수: 어떤 값을 저장하는 공간
- x = 100: x라는 값이 100을 가리키게 하라.
- '=': 바인딩(binding: 가리키는 것)을 의미
- 원리: 변수라는 곳에 데이터를 저장하고, 나중에 변수로 가서 실제 값을 읽는다.
- 변수를 입력하면 값이 return된다.: 값 자체를 기억할 필요가 없음

In [2]:
x=100
id(x) # 100이라는 값이 메모리의 어딘가에 저장: 객체-->객체의 주소(?)=id()

1742331680

In [3]:
x=100
y=100
id(x),id(y)
# 256까지는 같은 id: 메모리에 한 번만 올리고 변수가 가리키게 해, 효과적 메모리 사용

(1742331680, 1742331680)

In [4]:
x=10000
y=10000
id(x),id(y) # 서로 다른 객체가 생성된다.

(98957184, 98957440)

- Sequence(연속형) 데이터 타입: 문자열, list, tuple, dictionary, set, byte, bytearray
    - 반복성(iterability): 반복문에 있는 데이터를 순회할 수 있다.
    - 슬라이싱(slicing): 자를 수 있음
    - 멤버쉽(membership) 연산: in 키워드 사용
    - len() 함수 지원
    - bytes는 요소를 변경할 수 없고, bytearray는 변경가능, 둘 다 1바이트 단위의 값을 연속적으로 저장하는 시퀀스 자료형
    - 불변: 문자열, 튜플, 숫자, bytes/가변: 리스트, 딕셔너리, 셋, bytearray

In [5]:
'''
aTuple=(1,2,3)
print(aTuple)
id_1 = aTuple[-1]
aTuple[-1].append(10) # error: 튜플은 변경불가
'''
aTuple=(1,2,3,[7,8,9])
print('aTuple:', aTuple)

id_1 = aTuple[-1]
print('aTuple-1(id):',id(id_1),'aTuple-1(value):',id_1)

aTuple[-1].append(10) # aTuple[-1]는 리스트이다.
print('aTuple:',aTuple)

id_2 = aTuple[-1] # 같은 곳에 지정되서 id()가 같다.
print('aTuple-1(id):',id(id_2),'aTuple-1(value):',id_2)

print(id_1==id_2)
# 튜플이라는 container에다가 다른 객체들(objects)을 참조(reference)하는데, 그 안의 객체가 변경된 거임

aTuple: (1, 2, 3, [7, 8, 9])
aTuple-1(id): 98781584 aTuple-1(value): [7, 8, 9]
aTuple: (1, 2, 3, [7, 8, 9, 10])
aTuple-1(id): 98781584 aTuple-1(value): [7, 8, 9, 10]
True

In [6]:
# slicing
mystring = 'hello world'
len(mystring)
mystring[:5]
mystring[6:11]
mystring[6:-1]

'worl'

In [7]:
# split
my_jusik='naver daum'
split_jusik=my_jusik.split(' ')
split_jusik
print(split_jusik[0])

naver

In [8]:
# 문자열 합치기
daum='Daum'
kakao='KAKAO'
daum_kakao=daum+' '+kakao
daum_kakao

'Daum KAKAO'

In [9]:
# 데이터 타입
type(70000)
type(3.141592)
type('python')
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

cf) 문자열 함수(메서드)
    1. upper: 대문자
    2. replace: 특정 문자를 치환
    3. split: 문자열을 '특정 문자'로 구분, list로 치환
    4. join: list의 문자열을 단일 문자열로 split의 반대
    5. format: 문자열의 포맷을 지정

In [11]:
# join(),reversed(),split()
seasons=['spring','summer','autumn','winter']
joinStr1=''.join(seasons)
joinStr2=' '.join(seasons)
joinStr3='^^*'.join(seasons)
print(joinStr1)
print(joinStr2)
print(joinStr3)
joinStr4=' '.join(reversed(seasons))
print(joinStr4)
aList=joinStr2.split()
print(aList)

springsummerautumnwinter
spring summer autumn winter
spring^^*summer^^*autumn^^*winter
winter autumn summer spring
['spring', 'summer', 'autumn', 'winter']

In [12]:
# upper(),lower(),capitalize(),replace()
a = 'Python World'
print('a: ',a)

aUp = a.upper()
print('aUp: ',aUp)

aLow = a.lower()
print('aLow: ',aLow)

aCap = a.capitalize()
print('aCap: ',aCap)

aRep = a.replace('o','a')
print('aRep: ',aRep)

print('a: ',a) # 위 메서드들은 a를 바꾸는 것이 아니라 새로운 문자열을 생성하는 것이다.

a:  Python World
aUp:  PYTHON WORLD
aLow:  python world
aCap:  Python world
aRep:  Pythan Warld
a:  Python World

In [13]:
# format()
print('%s %s'%('one','two'))
print('%d %d'%(1,2))

print('{} {}'.format('one','two'))
print('{} {}'.format(1,2))

data = {'first':'Alpha','last':'Omega!'}
print('%(first)s %(last)s'% data)

'{first} {last}'.format(**data) #dictonary 참조 ->cf) list, tuple이라면 *data

print('{first} {last}'.format(first='SeongKyu', last='Yoon'))
print('{last} {first}'.format(first='SeongKyu', last='Yoon'))
print('{} {}'.format('SeongKyu','Yoon'))
print('{1} {0}'.format('SeongKyu','Yoon'))

from datetime import datetime
'{}'.format(datetime(2019,12,27,10,15)) # datetime(2019,12,27,10,15)는 하나의 객체
'{:%Y-%m-%d %H:%M}'.format(datetime(2019,12,27,10,15))
# http://docs.python.org/3/library/string.html#string-formatting

one two
1 2
one two
1 2
Alpha Omega!
SeongKyu Yoon
Yoon SeongKyu
SeongKyu Yoon
Yoon SeongKyu

'2019-12-27 10:15'

In [14]:
# 연습문제1
a='python'
b='coding'
print(a[:3])
print(a[:4])
print(a[:len(a)])
print(b[:4:2]) # a[start:end:step]
print(b[1:-2])
print(b[::-1])

pyt
pyth
python
cd
odi
gnidoc

## 3. 파이썬 기본 자료구조
### list

In [15]:
# list 생성하기
list1=list() # 빈 list 생성 -> list1 = []
list2=list([2,3,4]) # 2,3,4를 원소로 가지는 list 생성 -> list2 = [2,3,4]
list3=list(['spring','summer','autumn','winter']) # 문자열을 가진 리스트 생성 ->list3 = ['spring','summer','autumn','winter']
list4=list(range(3,6)) # 3=<x<6 인 정수
list5=list('aomg') #list('aomg')!=list(['aomg'])

- list method
    - append(x): 끝자리에 x라는 object 삽입, return 없이 그냥 list를 바꿈
    - insert(index, x): index에 x 삽입, return 없이 그냥 list를 바꿈
    - remove(x): list에서 첫번째로 보이는 x를 삭제, return 없이 그냥 list를 바꿈
    - index(x): x의 인덱스로 return한다, 당연히 list는 그대로
    - count(x): x가 나오는 횟수로 return한다, 당연히 list는 그대로
    - sort(): list를 정렬해준다, return없이 그냥 list를 바꿈
    - reverse(): 순서 반전, return없이 그냥 list를 바꿈
    - extend(L): L이라는 모든 것들을 list에 넣는다, return없이 그냥 list를 바꿈
    - pop(i): [i]번째 index를 뽑아내서 return, list도 바뀜

In [16]:
# append(x): 끝자리에 x라는 object 삽입, return 없이 그냥 list를 바꿈
a = [10,20,30]
b = a.append(40)
print(a); print(b)

kos_top10 = ['삼성전자','SK하이닉스','현대자동차','한국전력','아모레퍼시픽','제일모직','삼성전자우','삼성생명','NAVER','현대모비스']
kos_top11=kos_top10.append('SK텔레콤')
print(kos_top10); print(kos_top11)

kos_top11=kos_top10 # append하는 것을 선언하면, return안함, 그냥 다 하고 나서 선언해주어야 함
print(kos_top11)

[10, 20, 30, 40]
None
['삼성전자', 'SK하이닉스', '현대자동차', '한국전력', '아모레퍼시픽', '제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스', 'SK텔레콤']
None
['삼성전자', 'SK하이닉스', '현대자동차', '한국전력', '아모레퍼시픽', '제일모직', '삼성전자우', '삼성생명', 'NAVER', '현대모비스', 'SK텔레콤']

In [17]:
# insert(index, x): index에 x 삽입, return 없이 그냥 list를 바꿈
c = a.insert(2,50)
print(a); print(c)

[10, 20, 50, 30, 40]
None

In [18]:
# remove(x): list에서 첫번째로 보이는 x를 삭제, return 없이 그냥 list를 바꿈
a1 = [10,20,10,30,10,40,20]
d = a1.remove(10)
print(a1); print(d)

[20, 10, 30, 10, 40, 20]
None

In [19]:
# index(x): x의 인덱스로 return한다, 당연히 list는 그대로
a2 = [15,21,44,37]
e = a2.index(21)
print(a2); print(e)

[15, 21, 44, 37]
1

In [20]:
# count(x): x가 나오는 횟수로 return한다, 당연히 list는 그대로
a3 = ['승','승','패','패','패','승','패','패','패','승']
f = a3.count('승')
print(a3); print(f)

['승', '승', '패', '패', '패', '승', '패', '패', '패', '승']
4

In [21]:
# sort(): list를 정렬해준다, return없이 그냥 list를 바꿈
lst1=[105,34,71,66,13,17]
g = lst1.sort()
print(lst1); print(g)

lst2=['김광현','장원준','류현진','양현종','윤석민']
s_lst2=lst2.sort()
print(lst2); print(s_lst2) # 한글도 sort됨

lst3=['Trout','Machado','Harper','Strasburg','Cole','Arenado','Ryu']
s_lst3=lst3.sort()
print(lst3); print(s_lst3) # 영어 당연히 sort됨

[13, 17, 34, 66, 71, 105]
None
['김광현', '류현진', '양현종', '윤석민', '장원준']
None
['Arenado', 'Cole', 'Harper', 'Machado', 'Ryu', 'Strasburg', 'Trout']
None

In [22]:
# reverse(): 순서 반전, return없이 그냥 list를 바꿈
a4 = [18,17,14,13,16,11,9]
h = a4.reverse()
print(a4); print(h)

[9, 11, 16, 13, 14, 17, 18]
None

In [23]:
# extend(L): L이라는 모든 것들을 list에 넣는다, return없이 그냥 list를 바꿈
a5 = [1,0,12,16,7,1,9]
# e_a5 = a5.extend(16,15,10,20,13,16): error->한 개만
e_a5 = a5.extend([16,15,10,20,13,16]) #tuple의 모양도 똑같다: 넣은 후 수정도 가능
print(a5); print(e_a5)

[1, 0, 12, 16, 7, 1, 9, 16, 15, 10, 20, 13, 16]
None

In [24]:
# pop(i): [i]번째 index를 뽑아내서 return, list도 바뀜
a6 = [3,16,12,17,4,8,10,13,14,11,11,17]
p_a6 = a6.pop(-1)
print(a6); print(p_a6)
p2_a6 = a6.pop(-1)
print(a6); print(p2_a6)

[3, 16, 12, 17, 4, 8, 10, 13, 14, 11, 11]
17
[3, 16, 12, 17, 4, 8, 10, 13, 14, 11]
11

In [25]:
# list의 method들 목록
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [26]:
# list indexing: list.index(x)와 역연산
daishin = [9130,9150,9150,9300,9400]
daishin[3] #9300, list[i]=x, list.index(x)=i

9300

In [27]:
# list slicing
kospi_top10 = ['삼성전자','SK하이닉스','현대자동차','한국전력','아모레퍼시픽','제일모직','삼성전자우','삼성생명','NAVER','현대모비스']
kospi_top10[5:10:2] # [start:end:step] -> 그런데, 거꾸로(-)는 안된다.

['제일모직', '삼성생명', '현대모비스']

In [28]:
# list 데이터 삭제: 메서드로는 remove밖에 없음
del kospi_top10[-1] # kospi_top10을 바꾸는 거임.: 문법 보면 알겠지만 반환이고 뭐고 없음
kospi_top10

['삼성전자', 'SK하이닉스', '현대자동차', '한국전력', '아모레퍼시픽', '제일모직', '삼성전자우', '삼성생명', 'NAVER']

In [29]:
# 나머지 연산
list1=[3,4,5]
list2=[7,8,9]
list3=list1+list2 # 더하기
print(list3)
list4=list3*2 # 곱하기
print(list4)
print(7 in list1) # in: 들어있냐? 아니냐?
print(8 not in list1)

[3, 4, 5, 7, 8, 9]
[3, 4, 5, 7, 8, 9, 3, 4, 5, 7, 8, 9]
False
True

In [30]:
# list comprehension: 제어문 사용가능함
list1=[i for i in range(1,11)] # 넣을 것 / 제어문
print(list1)

list2=[2*i for i in list1]
print(list2)
'''
list2=[]
for i in list1:
    list2.append(2*i)
print(list2)
과 같은데 line 절약 가능
'''
list3= [i for i in list2 if i%4 == 0]
print(list3)
'''
list3=[]
for i in list2:
    if i%4==0:
        list3.append(i)
print(list3)
'''

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[4, 8, 12, 16, 20]

'\nlist3=[]\nfor i in list2:\n    if i%4==0:\n        list3.append(i)\nprint(list3)\n'

In [31]:
# list 복사하기
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
print(list1)
print(list2)
print('----after----')
list2=list1
print(list1)
print(list2)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
----after----
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

- 인자가 list인 경우는 "reference 값이 전달", 함수 내부에서 list 값을 변경하면 실제 list 값이 변경된다.

In [32]:
def main():
    x=1
    y=[1,2,3]
    f1(x,y)
    print('x:',x)
    print('y:',y)
    
def f1(num,list1):
    num = 100 # num에 새로운 값을 할당: 지역 변수라서 무시
    list1[0] = 1000 # list1[0]에 새로운 값을 할당

main() # 함수 호출

x: 1
y: [1000, 2, 3]

In [33]:
# 연습문제1
def add(x,lst=[]):
    if not x in lst:
        lst.append(x)
    return lst

list1 = add(1)
print('list1 ',list1) # 이 list는 함수에 남아있음
list2 = add(2)
print('list2 ',list2) # 앞의 과정이 없었으면 그냥 [2]
list3 = add(7,[11,12,13,14]) # 초기 list 설정 안 해주면, default에 남아있는 list로 간다.
print('list3 ',list3)
list4 = add(4)
print('list4 ',list4)
list5 = add(5,list3)
print('list5 ',list5)
list6 = add(6,[100])
print('list6 ',list6)
list7 = add(7)
print('list7 ',list7)

list1  [1]
list2  [1, 2]
list3  [11, 12, 13, 14, 7]
list4  [1, 2, 4]
list5  [11, 12, 13, 14, 7, 5]
list6  [100, 6]
list7  [1, 2, 4, 7]

In [34]:
# 연습문제2
list1=[1,3,5,7,9]
list2=list1.reverse() # list1을 바꾼다, return되는 값이 없다 -> 결과: None
print('list1',list1)
print('list2',list2)

list1 [9, 7, 5, 3, 1]
list2 None

In [35]:
# 되게 하려면??: return값이 나와야 선언을 해줄 수 있다.
def reverse(list):
    result=[]
    for i in list:
        result.insert(0,i) # index 0에다가 i라는 값을 넣어라 -> 계속 넣으면: 역순
    return result

list1 = [1,3,5,7,9]
list2 = reverse(list1)
print('list1 ',list1)
print('list2 ',list2)

list1  [1, 3, 5, 7, 9]
list2  [9, 7, 5, 3, 1]

### tuple: 순서, 중복 가능 하지만 수정과 삭제는 불가능, 속도가 빠름
- tuple slicing: ()아니고, []이다.

In [36]:
t = ('Samsung','LG','SK')
len(t)
t[0]
t[1]
t[2]

'SK'

In [37]:
t[0:2]

('Samsung', 'LG')

In [38]:
# a,b 값을 교환하여라
a=5
b=4
print(a,b)
a,b=b,a
'''몹시 simple하다.
temp=a
a=b
b=temp
를 간단히 줄일 수 있다.
'''
print(a,b)

5 4
4 5

### dictionary: key와 value를 갖는 데이터 구조, 쌍으로 저장
- key는 내부적으로 hash값으로 저장한다.
- 순서를 따지지 않는다. 즉, index가 없다.

In [39]:
cur_price = {}
type(cur_price) # dict

cur_price['daeshin'] = 30000 # dic['key']=value -> 집어넣는다.
cur_price

cur_price['Daum KAKAO'] = 80000
cur_price

len(cur_price)

cur_price['daeshin']

30000

In [40]:
# 항목 추가
a = {'Korea':'Seoul','Canada':'Ottawa','USA':'Washington D.C'}
a['Japan'] = 'Tokyo' # 삽입
a['Japan'] = 'Kyoto' # 수정
a['China'] = 'Beijing'

print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'Japan': 'Kyoto', 'China': 'Beijing'}

In [41]:
# 데이터 삽입, 및 삭제
cur_price['Daum KAKAO'] = 80000
cur_price['naver'] = 800000
cur_price['daeshin'] = 30000
cur_price

del cur_price['daeshin'] # key로 삭제
cur_price

{'Daum KAKAO': 80000, 'naver': 800000}

- dic.get('key'): key를 넣어서 value를 알아내는 것, key가 없을 때, None 발생
- vs dic['key']: key 없을 때, error 발생

In [42]:
aDic = {'first':1, 'second':2, 'third':3}
# print(aDic['d']): error 발생
print(aDic.get('d'))

None

- dic.keys(): key만 반환, list로 만들고 싶으면, list()에 넣어줘야 함.
- dic.values(): value만 반환, list로 만들고 싶으면, list()에 넣어줘야 함.
- dic.items(): 둘 다 반환(쌍으로 tuple), list로 만들고 싶으면 list()에 넣어줘야 함.(list의 형태는 여러 개의 tuple(key,value)이 있는 구조)

In [43]:
print(aDic)
print(list(aDic.keys()))
print(list(aDic.values()))
print(list(aDic.items()))

{'first': 1, 'second': 2, 'third': 3}
['first', 'second', 'third']
[1, 2, 3]
[('first', 1), ('second', 2), ('third', 3)]

### set: 순서, 중복 없음, 주로 list나 tuple로 형변환해서 사용함, 수학 집합 생각하면 됨

In [44]:
a = {1,2,2,3,4,4,1,5}
print(a)

b=set({7,8,9})
b #{7,8,9}
print(b) #{8,9,7}

a = [1,1,2,3,3,4,1,5]
print(a)
c = set(a)
print(c)

{1, 2, 3, 4, 5}
{8, 9, 7}
[1, 1, 2, 3, 3, 4, 1, 5]
{1, 2, 3, 4, 5}

In [45]:
# 집합의 연산 메서드
a = {1,2,3,4,5,6}
b = {4,5,6,7,8,9}
print(a.intersection(b)) # 교집합
print(a.union(b)) # 합집합
print(a.difference(b)) # 차집합(a-b)
print(a.issubset(b)) # a는 b의부분집합이야?

print(a&b) # 교집합
print(a|b) # 합집합
print(a-b) # 차집합(a-b)

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}
False
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

## 4. 제어문
### Boolean과 논리 연산자: 비교 연산자-> True or False

In [0]:
a = True
type(a) #'bool'
b = False
type(b) #'bool'

3==3 #True
3!=3 #False
3<3 #False
3<=3 #True

day1=10000
day2=13000
(day2-day1)==(day1*0.3) #True

Newsapaper delivery: 101
Newsapaper delivery: 102
Newsapaper delivery: 103
Newsapaper delivery: 104
Newsapaper delivery: 201
Newsapaper delivery: 202
Newsapaper delivery: 203
Newsapaper delivery: 204
Newsapaper delivery: 301
Newsapaper delivery: 302
Newsapaper delivery: 303
Newsapaper delivery: 304
Newsapaper delivery: 401
Newsapaper delivery: 402
Newsapaper delivery: 403
Newsapaper delivery: 404

### if: 참이면 실행
- if ~ else: 참 실행/ 거짓 실행
- if ~ elif ~ ... ~ else: 참 실행/ 나머지 중 하나 실행/그 나머지 중..../ 마지막

In [47]:
wikibooks_cur_price=11000
if wikibooks_cur_price>=10000:
    print('Buy 5')
    print('Buy 5')
    print('Buy 5')

Buy 5
Buy 5
Buy 5

In [48]:
wbcp=11000
if wbcp>=10000:
    print('Buy 10')
else:
    print('holding')

Buy 10

In [49]:
price=7000
if price<1000:
    bid=1
elif price>=1000 and price<5000:
    bid=5
elif price>=5000 and price<10000:
    bid=10
elif price>=10000 and price<50000:
    bid=50
elif price>=50000 and price<100000:
    bid=100
elif price>=100000 and price<500000:
    bid=500
elif price>=500000:
    bid=1000

### for: 리스트 또는 문자열과 같은 순회 가능한(sequence) 객체를 순회하면서 값 처리
- range: 큰 수의 범위에서도 쉽게 작성 가능
- for i in list: list안에 있는 원소를 i에 하나씩 바인딩(선언)한다, 반복적인 작업.

In [52]:
aList=[1,2,4,3,5]
for i in aList:
    print(i,i*2)

for i in 'hello python':
    print(i)
'''
aStr = 'hello python'
for ch in aStr:
    print(ch)
# 같은 결과
'''

1 2
2 4
4 8
3 6
5 10
h
e
l
l
o

p
y
t
h
o
n
h
e
l
l
o

p
y
t
h
o
n

In [1]:
for i in [0,1,2,3,4,5,6,7,8,9,10]:
    print(i)
    
for i in range(0,11): # range(11)과 같은 결과
    print(i) # 같다, 더 간결함

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10

In [2]:
interest_stocks = ['Naver','Samsung','SK Hynix']
for company in interest_stocks:
    print('%s: Buy 10'%company)

## aList를 순회(for)하며, 짝수이면 2로 나눠주고, 홀수이면 1을 더하는 코드(if)
aList = [1,3,4,5,6,8,10]
for i in aList:
    if i%2==0:
        i/=2
    else:
        i+=1
    print(i)

Naver: Buy 10
Samsung: Buy 10
SK Hynix: Buy 10
2
4
2.0
6
3.0
4.0
5.0

- 튜플도 가능 but 수정불가 list보단 빠름
- 딕셔너리: index를 지원하지 않는다. 기본적으로 key값을 참조, value를 하려면 dic.values()
- enumerate(): list 안을 순서대로 열거 (index, num 순으로)(index값 사용 가능)

In [59]:
interest_stocks = ('Naver','Samsung','SK Hynix')
for company in interest_stocks:
    print('%s: Buy 10'%company)

Naver: Buy 10
Samsung: Buy 10
SK Hynix: Buy 10

In [5]:
interest_stocks = {'Naver':10, 'Samsung':5, 'SK Hynix':30}
for company in interest_stocks: # interest_stocks.keys()
    print('%s: Buy %s'%(company, interest_stocks[company]))

seasons={'one':'spring','two':'summer','three':'autumn','four':'winter'}
for key in seasons:
    print(key,seasons[key])
    
for k in seasons.keys():
    print(k)
    
for k in seasons.values():
    print(k)

for i,j in seasons.items():
    print(i,j)

Naver: Buy 10
Samsung: Buy 5
SK Hynix: Buy 30
one spring
two summer
three autumn
four winter
one
two
three
four
spring
summer
autumn
winter
one spring
two summer
three autumn
four winter

In [8]:
a=[2,4,6,8,10,12,14,16,18,20]
for index, num in enumerate(a):
    if index>3:
        print('index:',index,'num:',num)

index: 4 num: 10
index: 5 num: 12
index: 6 num: 14
index: 7 num: 16
index: 8 num: 18
index: 9 num: 20

### while: for과는 다르게 반복해야할 횟수가 정해진 것이 아니라 어떠한 조건이 주어졌을 때
- +if문: 반복적인 작업을 수행하지만, 특정 조건일때는 다르게 처리하고자 할 때
- break: 반복문을 벗어난다, continue: 특정 조건에서는 뒤의 코드를 건너뛰고 다시 while문 처음으로

In [10]:
i=0
while i<=10:
    print(i)
    i+=1
num=0
while num<=10:
    if num%2==1:
        print(num)
    num+=1

0
1
2
3
4
5
6
7
8
9
10
1
3
5
7
9

In [11]:
num=0
while 1:
    print(num)
    if num == 10:
        break
    num+=1

num=0
while num<10:
    num+=1
    if num==5:
        continue
    print(num)

0
1
2
3
4
5
6
7
8
9
10
1
2
3
4
6
7
8
9
10

In [12]:
# 중첩 루프
apart=[[101,102,103,104],[201,202,203,204],[301,302,303,304],[401,402,403,404]]
for floor in apart:
    for room in floor:
        print('Newsapaper delivery:',room)

Newsapaper delivery: 101
Newsapaper delivery: 102
Newsapaper delivery: 103
Newsapaper delivery: 104
Newsapaper delivery: 201
Newsapaper delivery: 202
Newsapaper delivery: 203
Newsapaper delivery: 204
Newsapaper delivery: 301
Newsapaper delivery: 302
Newsapaper delivery: 303
Newsapaper delivery: 304
Newsapaper delivery: 401
Newsapaper delivery: 402
Newsapaper delivery: 403
Newsapaper delivery: 404

## 5. 함수
- 함수 정의와 호출: 특정 기능을 수행하는 단위로 작성한다.
- return 뒤에 뭐가 있다면 그 값을 반환하고 호출한 곳으로 복귀
- return만 있으면 None을 반환함.
- return도 없다: None으로 반환하고 복귀

In [15]:
# 정의
'''
def functionName(parameter): # parameter: 함수에 전달되는 입력, 없을 수도, 있을 수도, 여러 개일수도 (호출시는 argument)
    code
'''
# 호출
'''
functionName(parameter)
'''
def add(x,y): # 함수 정의
    n=x+y
    return n

c=add(30,300) # 함수 호출: 호출을 해야 실행된다.
print(c)

330

In [14]:
# 다중 리턴도 가능하다.
def funcReturnTuple(x):
    y1=10*x
    y2=20*x
    y3=30*x
    return y1,y2,y3

a1,a2,a3 = funcReturnTuple(10)
print(a1,a2,a3)

def funcReturnTuple(x):
    y1=10*x
    y2=20*x
    y3=30*x
    return (y1,y2,y3)

aTuple = funcReturnTuple(10) # tuple의 형태로 받음
print(aTuple,type(aTuple))

def funcReturnList(x):
    y1=10*x
    y2=20*x
    y3=30*x
    return [y1,y2,y3]

aList = funcReturnList(10) # list의 형태로 받음
print(aList,type(aList))

100 200 300
(100, 200, 300) <class 'tuple'>
[100, 200, 300] <class 'list'>

- variable scope: 변수의 범위, 함수의 변수는 자신이 속한 코드 블록 종료되면 소멸: 지역 변수
- 종료될 때까지 유지되는 변수: 전역 변수
- 지역 변수의 우선순위가 더 높음

- built-in function: 이미 정의된 함수 ex) range(), sum(), len()
- range(): [0,n-1]의 list, sum(): list나 tuple 입력받아서 합 반환, len(): 개수 반환

In [3]:
a=[1,2,3,4,5]
length=len(a)
print(length)

summation=sum(a)
print(summation)

5
15

- 가변 길이 parameter: parameter의 개수가 고정적이지 않을 때
    -  *args: 파라미터를 튜플의 형태로 전달
    - **kwargs: 파라미터를 딕셔너리 형태로 전달, 키워드 파라미터로 인식

In [5]:
def argsFunc(*args):
    print(args)
    
argsFunc('Kim')
argsFunc('Kim','Lee')
argsFunc('Kim','Lee','Park') # 튜플로 넘어온다.

def argsFunc(*args):
    for para in args:
        print(para)
        
argsFunc('Kim','Lee','Park')

def argsFunc(*args):
    for i,para in enumerate(args): # enumerate(): index, contents 순서임.
        print(i,para)
        
argsFunc('Kim','Lee','Park')

def test(**kwargs): #key word arguments
    for key,value in kwargs.items():
        print('key:',key,'value:',value)
        
test(name='nk') # key='value'로 인식

def kwargsFunc(**kwargs):
    for k,v in kwargs.items():
        print(k,v)

kwargsFunc(first='Kim',second='Lee',third='Park')

('Kim',)
('Kim', 'Lee')
('Kim', 'Lee', 'Park')
Kim
Lee
Park
0 Kim
1 Lee
2 Park
key: name value: nk
first Kim
second Lee
third Park

- 중첩 함수: 함수 내부에 정의된 다른 함수  cf) 심화학습: 데코레이터, 클로저
- default parameter(기본 인자): 기본값 지정, 지정 안할 때는 기본값, 다른 거 하고 싶으면 지정

In [6]:
def outer_func(num): # 외부 함수 정의
    def inner_func(num): # 내부 함수 정의
        print('in inner_func')
        print(num)
    print('in outer_func')
    inner_func(num*100) # 내부 함수 call

outer_func(10) # 외부 함수 call: 들어가서 내부 함수 정의 -> 외부 print -> 내부함수 call -> 내부 print -> 내부 숫자 계산

in outer_func
in inner_func
1000

In [ ]:
def add(x, y=10, z=5):
    a=x+y+z
    return a

print(add(10,1,2))
print(add(10))
# 주의: 일반 파라미터가 무조건 default parameter 앞에 나와야 함.

- print 함수의 default parameter: sep, end, file,...
- syntax: print(object(s), separator, end, file, flush)

In [ ]:
# 호출 과정 이해
def cal_upper(price):
    increment = price*0.3
    upper_price = price+increment
    return upper_price
upper = cal_upper(10000)
print(upper)

- module: 다양한 기능들이 미리 함수로 구현되어서 module의 형태로 제공
- 작성과 사용
    - 모듈: 파이썬 정의와 문장들을 담고 있다.
    - 파일 이름: (모듈명).py
    - import 모듈명: 맨 앞에 놓는 게 관례 -> 시작할 때 뭐 쓰는지 파악하기 쉽다.
    - from 모듈명 import 특정타입: 모듈에서 특정한 타입만 import

In [7]:
# fiboo.py라는 파일 만들기: 피보나치 수열
import fiboo
fiboo.fib(1000)
fiboo.fib2(100)
fiboo.__name__
fib=fiboo.fib
fib(500)
fib2=fiboo.fib2
fib2(500)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [0]:
# 내장 함수
import builtins
dir(builtins)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [14]:
# time 모듈
import time
time.time()
time.ctime()
type(_)
cur_time = time.ctime()
print(cur_time.split(' ')[-1])

2020

In [15]:
# time.sleep(n): n초간 실행 멈춤
for i in range(10):
    print(i)
    time.sleep(1)

0
1
2
3
4
5
6
7
8
9

### Lambda 함수
- 함수를 간단하게 생성자로 생성하는 방법을 표현
- 함수의 이름을 지정하지 않음
- 이름 없고, 저장된 변수가 없다 -> 다시 사용 못함(1회성)

In [18]:
func = lambda x:x+1
func(4)

5

In [19]:
square = lambda x:x**2

square(5)

25

In [20]:
add = lambda x,y:x+y

add(4,7)

11

In [22]:
def my_key(string):
    return len(string.strip()) # strip():공백과 \n을 삭제해줌
target = [' cat','tiger',' dog','snake ']
print(sorted(target, key=my_key)) # key: sorted하는 기준으로 함수를 제공
# sorted는 함수로서 새로운 리스트를 리턴시켜준다.(새로운 리스트가 생성), sort 메소드는 None으로 리턴 (원래 list를 변경)
target

[' cat', ' dog', 'tiger', 'snake ']

[' cat', 'tiger', ' dog', 'snake ']

In [24]:
target = ['   cat','tiger','     dog',' snake']
print(sorted(target, key=lambda x:len(x.strip()))) # 한번 정렬만 할 것이므로 lambda 함수 사용

['   cat', '     dog', 'tiger', ' snake']

In [0]:
nums = [1,2,3,6,8,9,10,11,13,15]
print(list(filter(lambda n:n%2==0,nums))) # 앞의 조건을 만족하는 것 외에 다 필터링, nums에서 가져온다.
print(list(map(lambda n:n**2,nums))) # 앞의 식으로 변형 새로운 리스트 생성, nums에서 가져온다.
# 둘 다 list() 빼면 안됨

import functools
a = [1,3,5,8]
print(functools.reduce(lambda x,y:x*y,a)) # a라는 리스트를 사용하여, 왼쪽부터 두개씩 곱한다.(reduce)

[2, 6, 8, 10]
[1, 4, 9, 36, 64, 81, 100, 121, 169, 225]
120

120